.header{
    background-color: rgba(0, 0, 0, 0.7);
    display:flex;
    justify-content:space-between;
    align-items: center;

    height:110px;
    
    position: absolute;
    right:0;
    left:0;

}

.navs a {
    color: #fff; 
    text-transform:uppercase;
    transition: .7s;
    font-size: 14px;
    font-size: bold;
    margin-right:20px;
}


.navs a:hover {
    color: #c5a862;
}

.main-home{
    background-image: url(../images/home.jpg);
    height: 90vh;
    background-size: cover;
}